<div class="position-absolute d-flex bg-light pb-5" [style.height.vh]="100" [style.width.vw]="100">
    <div class="mx-auto my-auto d-flex flex-column">
        <div class="bg-white px-5 py-3" [style.boxShadow]="'0 0 3px 3px rgba(0,0,0,.05)'">
            <p class="h4 text-center p-3 m-0">404</p>
            <p class="text-center p-3">Страница не найдена</p>
            <button class="mt-4">
                К авторизации
            </button>
            <button class="m-1 color-gray">
                К регистрации
            </button>
        </div>
    </div>
</div> 