<div class="d-flex flex-column">
    <p class="h5 m-0 text-center font-bold">Логин</p>
    <input class="mt-1" type="text" [(ngModel)]="auth.userData.login">
    <p class="h5 mt-3 mb-0 text-center font-bold">Пароль</p>
    <input class="mt-1" type="password" [(ngModel)]="auth.userData.password">
    <p class="h5 mt-3 mb-0 text-center font-bold">Повторите пароль</p>
    <input class="mt-1" type="password" [(ngModel)]="auth.verifyPassword">
    <ng-container *ngIf="!(auth.inProgress | async); else load">
        <button class="mt-3 color-emerald h5 font-bold" (click)="auth.register()">
            Зарегистрироваться
        </button>
    </ng-container>
    <ng-template #load>
        <button class="mt-3 color-emerald h5 font-bold" disabled (click)="auth.register()">
            Загрузка...
        </button>
    </ng-template>
    <button class="mt-1 color-gray" (click)="auth.toggle()">К авторизации</button>
</div>