:host {
  display: block;
}

.record {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid rgba(80, 53, 33, 0.466);
  background-color: white;
  width: 100%;
}

.record__title {
  box-sizing: border-box;
  background-color: rgba(253, 236, 222, 0.281);
  border-bottom: 1px solid rgba(80, 53, 33, 0.466);
  width: 100%;
  min-height: 40px;
  padding: 0.5rem;
  font-weight: 700;
}

.record__content {
  padding: 0.5rem;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record__text {
  margin: 0;
}